## Домашнее задание

### 1. Загрузите тренировочные и тестовые датасеты

In [36]:
import pandas as pd
import numpy as np
from category_encoders import TargetEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from pathlib import Path
import io

In [26]:
dataset_train_filename = "TrainData.csv"
dataset_test_filename = "TrainData.csv"

df = pd.read_csv(dataset_train_filename)
df_delayed = pd.read_csv(dataset_test_filename)

In [27]:
# Сгруппируем основную информацию о датасете и выгрузим в excel.
# import io
dataset_filename = dataset_train_filename
info_filename = f'./{Path(dataset_filename).stem}_info.xlsx'
buf = io.StringIO()
df.info(buf=buf)
s = buf.getvalue()
columns = s.splitlines()[3].split()
lines =   [line.split() for line in s.splitlines()[5:-2]]
lines = [[' '.join(row[1:-3]), row[-3], row[-2], row[-1]   ] for row in lines]
df_info = pd.merge(
    pd.DataFrame(lines, columns=columns[1:])
    , df.nunique().to_frame(name='Nu'), 
    left_on='Column', 
    right_index=True)# .set_index(['#']).reset_index()
df_vc = pd.DataFrame([[col, sorted(df[col].value_counts().to_dict().items(), key=lambda x: x[0])] for col in df.columns if len(df[col].value_counts()) < 21], columns=['Column', 'vc'])
df_info = pd.merge(df_info, df_vc, how='left', on='Column')
df_info = pd.merge(df_info, df.describe().T, how='left', left_on='Column', right_index=True)
df_info = df_info[['Column', 'Non-Null']].copy()\
    .join(pd.DataFrame(df.isna().sum()).rename(columns={0: 'Null_cnt'}), how='left', on='Column')\
    .join(pd.DataFrame(df.isna().sum() / df.shape[0]).round(3).rename(columns={0: 'Null_percent'}), how='left', on='Column')\
    .join(df_info.set_index('Column').drop(columns=['Non-Null', 'Count'] ), how='left', on='Column')
if not Path(info_filename).exists():
    df_info.to_excel(info_filename, index=False)
df_info

,Column,Non-Null,Null_cnt,Null_percent,Dtype,Nu,vc,count,mean,std,min,25%,50%,75%,max
0,f1,7500,0,0.000,int64,70,NaN,7500.0,38.579600,13.647719,17.000000,28.000000,37.000000,47.000000,9.000000e+01
1,f2,7425,75,0.010,float64,8,"[(64.2590702793375, 2), (114.41647597254, 434)...",7425.0,238.905308,76.198282,64.259070,218.593930,218.593930,218.593930,5.753968e+02
2,f3,7500,0,0.000,int64,6602,NaN,7500.0,190384.986800,105867.442524,19302.000000,118019.000000,179568.500000,239441.750000,1.226583e+06
3,f4,7500,0,0.000,float64,16,"[(2.948307735566308e-05, 10), (0.0256410256410...",7500.0,0.238933,0.151738,0.000029,0.171817,0.179322,0.239316,7.293233e-01
4,f5,7500,0,0.000,int64,16,"[(1, 10), (2, 39), (3, 64), (4, 153), (5, 112)...",7500.0,10.083200,2.546071,1.000000,9.000000,10.000000,12.000000,1.600000e+01
5,f6,7500,0,0.000,float64,7,"[(0.0491270807957775, 2463), (0.06637168141592...",7500.0,0.238934,0.190283,0.049127,0.049127,0.098837,0.445026,4.450262e-01
6,f7,5625,1875,0.250,float64,15,"[(0.0, 34), (0.0449871465295629, 583), (0.0716...",5625.0,0.240556,0.147371,0.000000,0.115721,0.241573,0.439103,4.822222e-01
7,f8,7500,0,0.000,float64,6,"[(0.0094991364421416, 1158), (0.02304147465437...",7500.0,0.238933,0.193365,0.009499,0.066581,0.103024,0.444334,4.843750e-01
8,f9,7500,0,0.000,float64,5,"[(5.97014925373134, 67), (10.29411764705882, 6...",7500.0,23.893333,4.451530,5.970149,25.606721,25.606721,25.606721,2.560672e+01
9,f10,7500,0,0.000,float64,2,"[(0.1135902636916835, 2465), (0.30029791459781...",7500.0,0.238933,0.087708,0.113590,0.113590,0.300298,0.300298,3.002979e-01
10,f11,7490,10,0.001,float64,95,NaN,7490.0,1068.693992,7430.344770,0.000000,0.000000,0.000000,0.000000,9.999900e+04
11,f12,7500,0,0.000,int64,69,NaN,7500.0,88.974933,404.517032,0.000000,0.000000,0.000000,0.000000,4.356000e+03
12,f13,7500,0,0.000,int64,82,NaN,7500.0,40.670800,12.330051,1.000000,40.000000,40.000000,45.000000,9.900000e+01
13,f14,7500,0,0.000,float64,35,NaN,7500.0,0.238955,0.041685,0.000080,0.244418,0.244418,0.244418,4.666665e-01
14,target,7500,0,0.000,int64,2,"[(0, 5708), (1, 1792)]",7500.0,0.238933,0.426460,0.000000,0.000000,0.000000,0.000000,1.000000e+00

In [28]:
# Работа с признаками
# 1. Признак f7 исключить т.к. пропусков 25% от объема датасета
# 2. Часть признаков можно отнести к категориальным т.к. они содержат ограниченный набор значений.
# Нет информации имеют ли категориальные признаки естественную порядковую связь (относятся ранговой или к номинальной шкале)
# т.к. датасет поступил уже предобарботанный, то предположим, что категориальные признаки относятся к ранговой шкале
# (т.к. возможности проверить и отвергнуть эту гипотезу нет).
# 3. Признак f11 можно заполнить 0 т.к. это самое часто встречающеся для признака значение.
# 4. Перед построением модели выполним масштабирование признаков т.к. для модели SVM, основанной на рассчете расстояний, 
# разный масштаб признаков может оказать влияние на результат

In [65]:
def rm_item_from_list(item:any, lst:list)->list:
    try:
        return lst.remove(item) or lst
    except ValueError:
        return lst

cat_features = ['f2', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10']


f2_by_other_cat_features = df.groupby(['f5', 'f6', 'f8', 'f9', 'f10']).agg({'f2':lambda x :x.value_counts().index[0]})
f2_by_other_cat_features['f2']

# df.join(f2_by_other_cat_features, on=['f5', 'f6', 'f8', 'f9', 'f10'], how='left', rsuffix='_')
# df.where(df['f2'].isna(), df[''], df['f2'])

# df.loc[df['f2'].isna(), 'f2'] = df.
# df.pivot_table(index=['f6', 'f8', 'f9', 'f10'], values=['f2'], aggfunc=[pd.Series.mode]).to_excel('./pvt.xlsx')
# df['f2'].mode()

# X = df.copy(deep=True)
# X.drop(columns='f11', inplace=True)

IndexError: index 0 is out of bounds for axis 0 with size 0

### 2. Оцените баланс классов в задаче
- Затем попытайтесь устно ответить на вопрос, можно ли использовать accuracy как метрику качества в задаче?

In [ ]:
# Ваш код здесь

### 3. Постройте baseline-модель:
- разбейте TrainData на тренировочные (Train) и тестовые данные (Test);
- обучите LogisticRegression и SVC с параметрами по умолчанию на тренировочных данных (Train);
- примените модели на тестовых данных (Test).

In [ ]:
from sklearn.metrics import f1_score

# Ваш код здесь

### 4. Улучшите модели
Попробуйте улучшить качество обученных моделей:
- можете задавать class_weights;
- можете изменять параметры модели;
- можете вручную или при помощи методов Python генерировать новые признаки и/или удалять существующие.

Это самая важная и творческая часть задания. Проводите как можно больше экспериментов!

Проведите минимиум три эксперимента: для каждого типа модели минимум один эксперимент.

In [ ]:
# Ваш код здесь

### 5. Оцените на отложенной выборке качество наилучшей модели
В пунктах 3 и 4 вы построили много разных моделей.

Возьмите ту, которая дала наилучшее качество на тестовых данных (Test). Примените её на отложенной выборке (TestData) и выведите на экран значение метрики f1.

In [ ]:
# Ваш код здесь

### 6. Выполните хитрый трюк
Часто смешивание различных моделей даёт улучшение итогового предсказания. Попробуйте смешать две лучшие модели по формуле:
$$pred_{final} = \alpha\cdot pred_1 + (1-\alpha)\cdot pred_2$$.

Значение $\alpha$ подберите в цикле по Test-выборке. Оцените качество на отложенной выборке.

Удалось ли добиться улучшения качества?

In [ ]:
# Ваш код здесь

### 7. Сделайте выводы

Запишите в отдельной ячейке текстом выводы о проделанной работе. Для этого ответьте на вопросы:
- Какие подходы вы использовали для улучшения работы baseline-моделей?
- Какого максимального качества удалось добиться на Test-данных?
- Какое при этом получилось качество на отложенной выборке?
- Ваша модель переобучилась, недообучилась или обучилась как надо?

In [ ]:
# Ваш текст здесь

Важный комментарий! В реальных задачах не следует ожидать, что машинным обучением всегда удастся решить задачу с хорошим качеством. Но использовать все имеющиеся у вас в арсенале методы для достижения наилучшего результата нужно.